@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  scrollbar-color: theme('colors.msx.cyan') transparent;
  scrollbar-width: thin;
  outline: none;
}

@layer components {
  .plus-btn {
    @apply rounded-full bg-sl-valid text-white w-10 h-10 text-3xl;
  }

  .btn {
    @apply bg-msx-mediumGreen text-white px-2 py-1  uppercase;
  }

  .dialog {
    @apply bg-sl-bg p-2;
  }

  fieldset {
    @apply flex flex-col gap-2;
  }

  .input {
    @apply text-white p-2 bg-msx-lightBlue border-msx-darkBlue border;
  }
}

body {
  background: theme('colors.msx.black');
  color: theme('colors.msx.white');
  font-size: 1rem;
}

a {
  color: theme('colors.msx.cyan');
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.msx.cyan');
  transition: 200ms ease-in-out;
}

[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

dialog:not([open]) {
  display: none;
}

dialog {
  position: fixed;
  inset: 0;
  margin: 0px;
  height: 100dvh;
  width: 100dvw;
  max-width: 100%;
  max-height: 100%;
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-3xl text-msx-darkYellow mb-3;
}

ul {
  @apply list-disc list-inside;
}

li {
  @apply pb-2;
}

[data-hide-scrollbar]::-webkit-scrollbar {
  display: none;
}

[data-hide-scrollbar] {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

figcaption {
  @apply text-xs text-msx-darkGreen mb-3;
}

.wp-block-separator {
  @apply border-t-2 border-msx-darkBlue my-4;
}
