<!DOCTYPE html>
<html>

<head>
    <title>Votre Newsletter</title>
</head>

<body
    style="background-color: black; color: white; font-family: 'Courier New', Courier, monospace; margin: 0; padding: 0;">
    <table width="100%" style="background-color: black; border-spacing: 0; color: white;">
        <tr>
            <td style="text-align: center; padding: 20px;">
                <img src="https://jmsx.mo5.com/favicon.png" width="64" height="64"
                    style="display: block; margin: auto;" />
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1 style="color: #ded087; margin: 0; padding-bottom: 10px;">J'MSX 24</h1>
                <p style="margin: 0; padding-bottom: 20px;font-style: italic;">Infos pour exposants</p>
            </td>
        </tr>
        <!-- SECTION 1 -->
        <!-- SECTION DÉDIÉE AUX EXPOSANTS -->

        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Équipements et
                    services
                    disponibles</h2>
                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p style="margin: 0; padding-bottom: 10px;">Voici ce dont chaque stand disposera :</p>
                    <ul>
                        <li>Chaises : 2 minimum par stand.</li>
                        <li>Table : Dimensions 1m80 x 80 cm.</li>
                        <li>Accès à l'électricité : Multiprises disponibles, utilisation de triphasé recommandée.</li>
                        <li>Prêt de matériel : Machines et écrans LCD compatibles RCA / Péritel 50Hz disponibles sur
                            demande.
                        </li>
                    </ul>
                    <p style="color:#ded087; margin-top: 20px;">La vente de produits est autorisée sous les mêmes
                        conditions que
                        précisées dans notre FAQ.</p>
                    <p style="margin: 0; padding-top: 20px;">Nous encourageons chaque exposant à apporter ses propres
                        multiprises pour garantir une expérience sans soucis.</p>
                </div>
            </td>
        </tr>

        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Horaires et
                    Accès</h2>
                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p style="margin: 0; padding-bottom: 20px;">Horaires de la convention : de 9h30 à 19h30.</p>
                    <p style="margin: 0;">Les membres de votre famille possédant des passes visiteurs peuvent accéder à
                        l'événement dès votre arrivée.</p>
                </div>
            </td>
        </tr>

        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Participation et
                    Promotion</h2>
                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p style="margin: 0; padding-bottom: 20px;">Nous souhaitons mettre en avant les stands sur notre
                        site et
                        dans nos communications. Si vous souhaitez partager un texte de présentation de votre stand, ce
                        que vous
                        proposez, accompagné de photos, nous serons ravis de les publier.</p>
                    <p style="margin: 0;">Envoyez votre contenu à : <a style="color: #3aa241; text-decoration: none;"
                            href="mailto:jsmx@mo5.com">jsmx@mo5.com</a></p>

                    <br />
                    <p style="margin: 0; padding-bottom: 20px;">L'utilisation de la scène pour des présentations courtes
                        est
                        possible. Contactez-nous pour discuter des possibilités et disponibilités.</p>

            </td>
        </tr>




        <!-- SECTION 2 -->
        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Infos pratiques
                </h2>



                <div style="border: 1px solid #5955e0; padding: 10px;">

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Adresse</h3>
                    <p style="margin: 0;">
                        La convention se déroulera du 22 au 23 juin 2024 à ISAR DIGITAL, 60 bd Richard-Lenoir, 75011
                        Paris.
                    <div style="height: 10px;"></div>

                </div>


                <div style="height: 15px;"></div>


                <div style="border: 1px solid #5955e0; padding: 10px;">

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">HORAIRES</h3>

                    <span style="color:#ded087">Samedi</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    <div style="height: 10px;"></div>
                    <span style="color:#ded087">Dimanche</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    </p>
                    <div style="height: 5px;"></div>
                    <p style=" text-align: right;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/programme">En savoir plus</a>
                    </p>
                </div>




            </td>
        </tr>

    </table>
</body>

</html>