<!DOCTYPE html>
<html>

<head>
    <title>Votre Newsletter</title>
</head>

<body
    style="background-color: black; color: white; font-family: 'Courier New', Courier, monospace; margin: 0; padding: 0;">
    <table width="100%" style="background-color: black; border-spacing: 0; color: white;">
        <tr>
            <td style="text-align: center; padding: 20px;">
                <img src="https://jmsx.mo5.com/favicon.png" width="64" height="64"
                    style="display: block; margin: auto;" />
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1 style="color: #ded087; margin: 0; padding-bottom: 10px;">J'MSX 24</h1>


            </td>
        </tr>
        <!-- SECTION 1 -->

        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Votre venue à
                    JSMX 24
                </h2>
                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p>Bonjour,</p>
                    Nous sommes heureux de vous confirmer que votre inscription est bien validée. Vous recevrez
                    votre entrée par email d'ici
                    quelques jours.
                    </p>
                    <p>Nous vous remercions de votre confiance et nous réjouissons de vous accueillir prochainement.
                    </p>
                    <p>
                        Cordialement,

                    </p>
                    <p>L'équipe J'MSX 24</p>

                </div>

            </td>
        </tr>



        <!-- SECTION 2 -->
        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Infos pratiques
                </h2>



                <div style="border: 1px solid #5955e0; padding: 10px;">

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Adresse</h3>
                    <p style="margin: 0;">
                        La convention se déroulera du 22 au 23 juin 2024 à ISAR DIGITAL, 60 bd Richard-Lenoir, 75011
                        Paris.
                    <div style="height: 10px;"></div>

                </div>


                <div style="height: 15px;"></div>


                <div style="border: 1px solid #5955e0; padding: 10px;">

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">HORAIRES</h3>

                    <span style="color:#ded087">Samedi</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    <div style="height: 10px;"></div>
                    <span style="color:#ded087">Dimanche</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    </p>
                    <div style="height: 5px;"></div>
                    <p style=" text-align: right;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/programme">En savoir plus</a>
                    </p>
                </div>




            </td>
        </tr>

    </table>
</body>

</html>