<!DOCTYPE html>
<html>

<head>
    <title>Votre Newsletter</title>
</head>

<body
    style="background-color: black; color: white; font-family: 'Courier New', Courier, monospace; margin: 0; padding: 0;">
    <table width="100%" style="background-color: black; border-spacing: 0; color: white;">
        <tr>
            <td style="text-align: center; padding: 20px;">
                <img src="https://jmsx.mo5.com/favicon.png" width="64" height="64"
                    style="display: block; margin: auto;" />
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1 style="color: #ded087; margin: 0; padding-bottom: 10px;">J'MSX 24</h1>
                <p style="margin: 0; padding-bottom: 20px;font-style: italic;">Voici les dernière nouvelles concernant
                    la convention J'MSX 24.</p>
            </td>
        </tr>
        <!-- SECTION 1 -->

        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Restauration sur
                    place
                </h2>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Sandwichs
                    </h3>
                    <p style="color:#ded087">Végétarien</p>
                    <ul>
                        <li>Chèvre, miel, roquette, beurre, tomate, noix</li>
                    </ul>
                    <p style="color:#ded087">Parisien</p>
                    <ul>
                        <li>Jambon, salade, beurre, emmental</li>
                    </ul>
                    <p style="color:#ded087">Le Pesco</p>
                    <ul>
                        <li>Thon, concombre, mayo, tomate, roquette</li>
                    </ul>
                    <div style="height: 10px;"></div>
                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Autres encas
                    </h3>
                    <p>Nous proposerons également des cookies et quelques autres encas supplémentaires en vente.</p>
                    <div style="height: 10px;"></div>
                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Boissons</h3>
                    <p>Des boissons fraîches et chaudes seront disponibles.</p>
                </div>
            </td>
        </tr>


        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Les nouvelles
                </h2>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p style="color:#ded087">JMSX, c'est ce week-end !</p>
                    <p>Pour les retardataires, il est toujours possible de prendre vos billets. Ne manquez pas cette
                        occasion de participer à cet événement unique.</p>
                    <p style="text-align: center;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/ticket">Prendre un billet</a>
                    </p>

                </div>
            </td>
        </tr>

        <!-- SECTION 2 -->
        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Infos pratiques
                </h2>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Adresse</h3>
                    <p style="margin: 0;">
                        La convention se déroulera du 22 au 23 juin 2024 à ISAR DIGITAL, 60 bd Richard-Lenoir, 75011
                        Paris.
                    </p>
                    <div style="height: 10px;"></div>
                </div>

                <div style="height: 15px;"></div>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Horaires</h3>

                    <span style="color:#ded087">Samedi</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    <div style="height: 10px;"></div>
                    <span style="color:#ded087">Dimanche</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    <div style="height: 5px;"></div>
                    <p style="text-align: right;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/programme">En savoir plus</a>
                    </p>
                </div>
            </td>
        </tr>


        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Nouveau
                    Partenaire et Programme</h2>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p style="color:#ded087">Nouveau Partenaire : Yaz</p>
                    <p>Yaz est un ancien ingénieur informatique japonais, passionné par le MSX depuis les années 80.
                        Développeur amateur, il a eu l'honneur de voir l'une de ses œuvres publiée dans le prestigieux
                        magazine MSX FAN. Aujourd'hui, il est très actif sur X où il publie régulièrement des pixel arts
                        MSX de très grande qualité. C’est ses connaissances combinées en ingénierie et en art qui lui
                        donnent cette sensibilité unique qui lui permet de transcender les contraintes techniques du MSX
                        pour créer des œuvres de toutes beautés. Pour le JMSX, Yaz sera partenaire de la Game jam
                        organisée avec les étudiants de ISART. Il mettra à leur disposition toutes les ressources
                        graphiques de jeux qu'il a créé pour qu’ils aient une très bonne base pour leurs jeux. Vous
                        pourrez également retrouver l’une de ses œuvres dans l’exposition de pixel arts du J’MSX.</p>
                    <p style="text-align: center;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://twitter.com/yazioh">Voir le profil de Yaz</a>
                    </p>
                    <div style="height: 10px;"></div>

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Modification
                        du Programme</h3>
                    <p style="color:#ded087">Confirmation de la venue de Kazuhiko Nishi</p>
                    <p>Le programme a été modifié pour inclure la présence confirmée de Kazuhiko Nishi, qui donnera
                        plusieurs conférences et séances de questions-réponses.</p>
                    <div style="height: 10px;"></div>

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Programme
                    </h3>
                    <p style="color:#65dbef">Samedi 22 juin</p>
                    <ul>
                        <li>10:00 - Game jam : Annonce du thème</li>
                        <li>10:30 - Conférence : Qu'est-ce qu'un MSX ? Ou, La place du MSX dans la microinformatique
                            mondiale</li>
                        <li>12:00 - Conférence : ISART Digital</li>
                        <li>14:00 - Conférence : L'histoire du MSX par Kazuhiko Nishi, suivi d'une séance de
                            questions-réponses</li>
                        <li>16:00 - Conférence : Konami et le MSX, les débuts de Kojima</li>
                        <li>18:00 - Conférence : Les capacités techniques du MSX</li>
                    </ul>
                    <p style="color:#65dbef">Dimanche 23 juin</p>
                    <ul>
                        <li>11:00 - Conférence : L'avenir du MSX par Kazuhiko Nishi, suivi d'une séance de
                            questions-réponses</li>
                        <li>14:00 - Conférence : Développer un jeu MSX en 2024</li>
                        <li>15:00 - Présentation : Les meilleurs Homebrews MSX</li>
                        <li>16:00 - Présentation : ROOM 5, un jeu créé open source en live</li>
                        <li>19:00 - Game jam : Présentation des projets réalisés</li>
                    </ul>
                </div>
            </td>
        </tr>

        <!-- SECTION 2 -->
        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Infos pratiques
                </h2>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Adresse</h3>
                    <p style="margin: 0;">
                        La convention se déroulera du 22 au 23 juin 2024 à ISAR DIGITAL, 60 bd Richard-Lenoir, 75011
                        Paris.
                    </p>
                    <div style="height: 10px;"></div>
                </div>

                <div style="height: 15px;"></div>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Horaires</h3>

                    <span style="color:#ded087">Samedi</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    <div style="height: 10px;"></div>
                    <span style="color:#ded087">Dimanche</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    <div style="height: 5px;"></div>
                    <p style="text-align: right;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/programme">En savoir plus</a>
                    </p>
                </div>
            </td>
        </tr>

        <!-- SECTION 3 -->

    </table>
</body>

</html>