<!DOCTYPE html>
<html>

<head>
    <title>Votre Newsletter</title>
</head>

<body
    style="background-color: black; color: white; font-family: 'Courier New', Courier, monospace; margin: 0; padding: 0;">
    <table width="100%" style="background-color: black; border-spacing: 0; color: white;">
        <tr>
            <td style="text-align: center; padding: 20px;">
                <img src="https://jmsx.mo5.com/favicon.png" width="64" height="64"
                    style="display: block; margin: auto;" />
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1 style="color: #ded087; margin: 0; padding-bottom: 10px;">J'MSX 24</h1>
                <p style="margin: 0; padding-bottom: 20px;font-style: italic;">Voici les dernière nouvelles concernant
                    la convention J'MSX 24.</p>
            </td>
        </tr>
        <!-- SECTION 1 -->

        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Mises à jour
                    importantes
                </h2>

                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p style=" color:#ded087">Gestion de vos billets
                    </p>
                    <p>Il est désormais possible de régénérer un billet perdu ou endommagé. Chaque billet est désormais
                        doté
                        d'un identifiant unique pour assurer une distinction claire entre les tickets, même pour ceux
                        achetés
                        avec le même compte PayPal. Pour régénérer un billet, veuillez suivre le lien :</p>
                    <p style=" text-align: center;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/ticket/generer">Régénérer un billet</a>
                    </p>
                    <div style="height: 10px;"></div>

                    <p style="color:#ded087">FAQ Rapide</p>
                    <ul>
                        <li>Comment puis-je récupérer un billet perdu ? Visitez <a
                                style="color:#3aa241;text-decoration: none;"
                                href="https://jmsx.mo5.com/ticket/generer">cette page</a> pour régénérer votre billet.
                        </li>
                        <li>Puis-je acheter plusieurs places avec le même compte PayPal ? Oui, chaque billet dispose
                            d'un code
                            unique.</li>
                    </ul>
                    <div style="height: 5px;"></div>
                    <p style="margin: 0; text-align: right;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/faq">Plus de FAQs</a>
                    </p>
                </div>
            </td>
        </tr>

        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Les Invités
                </h2>



                <div style="border: 1px solid #5955e0; padding: 10px;">
                    <p style="margin: 0; padding-bottom: 20px;font-style: italic;">Les premiers invités confirmés

                    <div style="height: 10px;"></div>

                    <p style="color:#ded087">Kazuhiko Nishi</p>

                    <table>
                        <tr>
                            <td><img src='https://jmsx.mo5.com/nishi.webp' /></td>
                            <td>
                                <p>Kazuhiko Nishi est un entrepreneur japonais, co-fondateur de Microsoft Japon et ASCII
                                    Corporation
                                    et créateur de la
                                    norme MSX.
                                </p>
                            </td>
                        </tr>
                    </table>


                    <p style="color:#ded087">Cousin Hubert</p>
                    <table>
                        <tr>

                            <td>
                                <p>Amateur de jeux vidéo japonais, Cousin Hubert a décidé d'apprendre cette langue sur
                                    le tard et de
                                    plonger dans le
                                    gouffre sans fond des jeux sur ordinateur japonais des années 80-90. Pour combler sa
                                    solitude de
                                    collectionneur de
                                    retrogaming japonais de niche, il a créé sa chaîne Youtube pour rencontrer ses pairs
                                    et chaque
                                    jour, ils échangent et en
                                    apprennent toujours davantage sur ce merveilleux univers.
                                </p>
                            </td>
                            <td><img src='https://jmsx.mo5.com/c_hubert.webp' /></td>
                        </tr>
                    </table>

                    <p style="color:#ded087">Gunhed TV</p>
                    <table>
                        <tr>
                            <td><img src='https://jmsx.mo5.com/gunhed.webp' /></td>
                            <td>
                                <p>David Hecq, anciennement maire, s\'est réinventé en créateur de contenu sur YouTube
                                    sous le pseudonyme de Gunhed TV.
                                    Passionné par le retrogaming, la bande dessinée et la culture populaire des années
                                    80 et 90, David partage sa passion
                                    pour les consoles de jeux vidéo et autres gadgets technologiques, souvent avec une
                                    pointe d\'humour et de nostalgie. Sur
                                    sa chaîne, il aborde ces sujets sérieusement tout en gardant une approche légère,
                                    visant à divertir sans gaspiller le
                                    temps précieux de ses spectateurs. Outre ses vidéos, David est également auteur de
                                    plusieurs livres, où il couche sur
                                    papier ses réflexions et anecdotes, notamment à travers la série "Les Chroniques de
                                    Gunhed TV" et son exploration des
                                    rivalités historiques comme celle entre Amiga et Atari ST dans "Si la guerre Amiga
                                    vs Atari ST m\'était contée". Il
                                    explore également la représentation des personnages féminins dans les jeux vidéo
                                    avec sa série "Babes in Video Games".
                                </p>
                            </td>
                        </tr>
                    </table>



                </div>

            </td>
        </tr>

        <!-- SECTION 2 -->
        <tr>
            <td style="padding: 20px;">
                <h2 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 10px;">Infos pratiques
                </h2>



                <div style="border: 1px solid #5955e0; padding: 10px;">

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">Adresse</h3>
                    <p style="margin: 0;">
                        La convention se déroulera du 22 au 23 juin 2024 à ISAR DIGITAL, 60 bd Richard-Lenoir, 75011
                        Paris.
                    <div style="height: 10px;"></div>

                </div>


                <div style="height: 15px;"></div>


                <div style="border: 1px solid #5955e0; padding: 10px;">

                    <h3 style="color: #b766b5; text-transform: uppercase; margin: 0; padding-bottom: 5px;">HORAIRES</h3>

                    <span style="color:#ded087">Samedi</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    <div style="height: 10px;"></div>
                    <span style="color:#ded087">Dimanche</span>
                    <ul>
                        <li>Ouverture à 9h30 pour les participants à la Game jam et les exposants</li>
                        <li>Ouverture au public à 10h</li>
                        <li>Fermeture à 19h30</li>
                    </ul>
                    </p>
                    <div style="height: 5px;"></div>
                    <p style=" text-align: right;">
                        <a style="color:white;border: 5px solid #3aa241;background-color: #3aa241;text-decoration: none;"
                            href="https://jmsx.mo5.com/programme">En savoir plus</a>
                    </p>
                </div>




            </td>
        </tr>

    </table>
</body>

</html>